body {
    margin-left: 0px;
    margin-right: 0px;
    background: lightgrey;
}

.banner {
    position: fixed;
    color: white;
    background-color: #4b367c;
    margin-top: 0px;
    width: 100%;
    margin-left: none;
    margin-right: none;
    z-index: 1;
}

.btnsHere {
    padding: 20px;
    align-content: justify;
}

.title-block {
    padding: 10px 5px 10px 25px;
}

.topic-button {
    color: #4b367c;
    margin: 8px;
}

#logo {
    width: 30px;
    height: 30px;
    align-content:center;
    margin-left: auto;
    margin-right: auto;
}

.custom {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    min-height: 100vh;
}

.gif-container {
    float: left;
    margin: 10px;
    padding-top: 200px;
}

.sidebar {
    padding-top: 200px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .banner {
        position: relative;
    }
    .custom {
        padding-top: 10px;
    }
}